---
import { REPO_URL } from '../lib/consts';
---
<header class="dp-nav">
  <div class="dp-container dp-nav__inner">
    <a class="dp-brand" href="/">
      <span class="dp-brand__mark">{'{}'}</span>
      <span>The Go Reference</span>
    </a>
    <nav class="dp-nav__links">
      <a href="/patterns/" class="hide-sm">Design Patterns</a>
      <a href="/concurrency/" class="hide-sm">Concurrency</a>
      <a href={REPO_URL} target="_blank" rel="noopener">GitHub ↗</a>
    </nav>
  </div>
</header>
